/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

.card-container{
    margin-top: 90px;
    border-radius: 10px;
    border: 0.2px #FFF solid;
    height: 60%;
    width: 20%;
    position: absolute;
}

/* .card-container:hover{

} */

.img-container{
    height: 100%;
    width: 100%;
    /* margin-top: 40px; */
    border-radius: 10px;
    /* top: 30%; */
}

.battle-card-img{
    height:100%;
    width: 100%;
    /* border-radius: 100%; */
    object-fit: fill;
    overflow: hidden;
    /* padding-top: 20px; */
}